<div class="greeting-wrapper container-fluid d-flex justify-content-center align-items-center">
    <div class="inner-wrapper row text-center d-flex align-items-center text-white">
        <h1>{{message}}</h1>
        <div class="input-group mb-3">
            <span for="message" class="input-group-text" id="inputGroup-sizing-default">Change me!</span>
            <input id="message" [(ngModel)] = message type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
    </div> 
</div> 