<div class="d-flex justify-content-center align-items-center main vh-100"> 
    <div class="row text-center d-flex align-items-center">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Celsius is °{{celsius}}C</label>
            <input [(ngModel)] = "celsius" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter temperature in Celsius">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Fahrenheit is °{{fahrenheit}}F</label>
            <input  [(ngModel)] = "fahrenheit"  type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter temperature in Fahrenheit">
          </div>
    </div> 
</div> 
